<h1>Login</h1>
<%= form_tag '/login', method: :post do %>
  <div class="form-group">
    <div>
      Email: <input type="text" class="form-control" name="email">
    </div>
  <div class="form-group">
    <div>
      Password: <input type="password" class="form-control" name="password">
    </div>
    <input type="submit" class="btn btn-default" value="Login!">
  <% end %>