  <h2> Contact: <%= @contact.id %></h2>
  <p> Full Name: <%= @contact.first_name + " " + contact.last_name %></p>
  <p> Email: <%= @contact.email %> </p>
  <p> Phone Number: <%= @contact.phone_number %> </p>