// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main-color: blue;

h1 {
  color: $main-color;
}

.well img {
  width: 100%;
}
.well {
  background-color: rgba(255, 255, 255, 0.65)
}
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em
}
body {
 padding-top: 70px; 
 font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
 background-image: url('dark-triangles.png');
}