// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main-color: blue;

h1 {
  color: $main-color;
}

.x {
  color: red;
}

.well img {
  width: 100%;
}
.well {
  background-color: rgba(215, 206, 178, 0.35)
}
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em
}
body {
 padding-top: 70px; 
 // font-family: Papyrus,fantasy;
 // background-image: url('tileable_wood_texture.png');
}